@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  font-size: 12px;
  line-height: 1;
  font-family: "Roboto", arial, helvetica, sans-serif;
  color: #6e6e6e; }

h1 {
  font-size: 28px;
  line-height: 150%;
  color: #282828; }

h2,
h3,
h4,
h5 {
  color: #6e6e6e; }

h2 {
  font-size: 24px;
  line-height: 140%; }

h3 {
  font-size: 18px;
  line-height: 130%; }

h4 {
  font-size: 16px;
  line-height: 120%; }

h5 {
  font-size: 14px;
  line-height: 110%; }

.small {
  font-size: 10px; }

ul,
ol,
ul li,
ol li {
  list-style-type: none; }

a {
  color: #6e6e6e;
  text-decoration: none;
  display: inline-block; }

.btn {
  display: inline-block;
  color: #fff;
  background: #ffae21;
  font-weight: normal; }

.btn-large {
  border-radius: 10px;
  font-size: 14px; }

.btn-small {
  border-radius: 5px;
  font-size: 12px; }

.btn-icon {
  disply: inline-block;
  background: none;
  border: none;
  font-size: 32px;
  color: #6e6e6e;
  cursor: pointer; }

.btn-icon:disabled {
  cursor: default;
  opacity: 0.6; }

.content-tile {
  border: solid 1px #aeaeae;
  margin: 10px;
  padding: 10px;
  padding: 10px;
  border-radius: 10px; }

.content-tile-solid {
  border: solid 1px #aeaeae;
  margin: 10px;
  padding: 10px;
  background: #e6ede8;
  border-radius: 10px; }

.content-box:hover {
  box-shadow: 1px 1px 1px #aeaeae; }

.wrapper {
  width: 100%;
  min-width: 1366px;
  max-width: 1800px;
  margin: 0 auto; }

.wrapper {
  width: 100%;
  max-width: 1850px;
  min-width: 1366px;
  margin: 0 auto; }

.image-responsive {
  width: 100%;
  height: auto; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?lsdqfg");
  src: url("../fonts/icomoon.eot?lsdqfg#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?lsdqfg") format("truetype"), url("../fonts/icomoon.woff?lsdqfg") format("woff"), url("../fonts/icomoon.svg?lsdqfg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-abacus2:before {
  content: "\e900"; }

.icon-add77:before {
  content: "\e901"; }

.icon-add78:before {
  content: "\e902"; }

.icon-add79:before {
  content: "\e903"; }

.icon-add80:before {
  content: "\e904"; }

.icon-add81:before {
  content: "\e905"; }

.icon-add82:before {
  content: "\e906"; }

.icon-address18:before {
  content: "\e907"; }

.icon-agenda:before {
  content: "\e908"; }

.icon-alert4:before {
  content: "\e909"; }

.icon-alert5:before {
  content: "\e90a"; }

.icon-alien2:before {
  content: "\e90b"; }

.icon-american11:before {
  content: "\e90c"; }

.icon-analytics4:before {
  content: "\e90d"; }

.icon-anchor23:before {
  content: "\e90e"; }

.icon-android5:before {
  content: "\e90f"; }

.icon-apple41:before {
  content: "\e910"; }

.icon-apple43:before {
  content: "\e911"; }

.icon-arch2:before {
  content: "\e912"; }

.icon-archive16:before {
  content: "\e913"; }

.icon-arroba6:before {
  content: "\e914"; }

.icon-arrow550:before {
  content: "\e915"; }

.icon-arrow551:before {
  content: "\e916"; }

.icon-arrow552:before {
  content: "\e917"; }

.icon-arrow553:before {
  content: "\e918"; }

.icon-arrows71:before {
  content: "\e919"; }

.icon-atom9:before {
  content: "\e91a"; }

.icon-attention:before {
  content: "\e91b"; }

.icon-back15:before {
  content: "\e91c"; }

.icon-back16:before {
  content: "\e91d"; }

.icon-back17:before {
  content: "\e91e"; }

.icon-back18:before {
  content: "\e91f"; }

.icon-baggage17:before {
  content: "\e920"; }

.icon-balance4:before {
  content: "\e921"; }

.icon-balloon4:before {
  content: "\e922"; }

.icon-bars22:before {
  content: "\e923"; }

.icon-bars23:before {
  content: "\e924"; }

.icon-battery90:before {
  content: "\e925"; }

.icon-beer13:before {
  content: "\e926"; }

.icon-behance3:before {
  content: "\e927"; }

.icon-bell20:before {
  content: "\e928"; }

.icon-bike11:before {
  content: "\e929"; }

.icon-bird31:before {
  content: "\e92a"; }

.icon-bomb5:before {
  content: "\e92b"; }

.icon-book126:before {
  content: "\e92c"; }

.icon-bookmark12:before {
  content: "\e92d"; }

.icon-bookmarks1:before {
  content: "\e92e"; }

.icon-box42:before {
  content: "\e92f"; }

.icon-box43:before {
  content: "\e930"; }

.icon-boy15:before {
  content: "\e931"; }

.icon-bright2:before {
  content: "\e932"; }

.icon-bright3:before {
  content: "\e933"; }

.icon-bug10:before {
  content: "\e934"; }

.icon-business66:before {
  content: "\e935"; }

.icon-business67:before {
  content: "\e936"; }

.icon-business68:before {
  content: "\e937"; }

.icon-calculator36:before {
  content: "\e938"; }

.icon-calendar71:before {
  content: "\e939"; }

.icon-cancel11:before {
  content: "\e93a"; }

.icon-cancel12:before {
  content: "\e93b"; }

.icon-cancel13:before {
  content: "\e93c"; }

.icon-cancer:before {
  content: "\e93d"; }

.icon-chat34:before {
  content: "\e93e"; }

.icon-chat35:before {
  content: "\e93f"; }

.icon-checkmark4:before {
  content: "\e940"; }

.icon-chemical1:before {
  content: "\e941"; }

.icon-chicken7:before {
  content: "\e942"; }

.icon-clip9:before {
  content: "\e943"; }

.icon-clipboard47:before {
  content: "\e944"; }

.icon-clipboard48:before {
  content: "\e945"; }

.icon-clipboard49:before {
  content: "\e946"; }

.icon-closed44:before {
  content: "\e947"; }

.icon-cloud162:before {
  content: "\e948"; }

.icon-codebar:before {
  content: "\e949"; }

.icon-coffee29:before {
  content: "\e94a"; }

.icon-coffee30:before {
  content: "\e94b"; }

.icon-cogwheel13:before {
  content: "\e94c"; }

.icon-coins18:before {
  content: "\e94d"; }

.icon-compass51:before {
  content: "\e94e"; }

.icon-completed:before {
  content: "\e94f"; }

.icon-cone5:before {
  content: "\e950"; }

.icon-configuration7:before {
  content: "\e951"; }

.icon-configuration8:before {
  content: "\e952"; }

.icon-connection13:before {
  content: "\e953"; }

.icon-connection14:before {
  content: "\e954"; }

.icon-contacts5:before {
  content: "\e955"; }

.icon-crane3:before {
  content: "\e956"; }

.icon-crown29:before {
  content: "\e957"; }

.icon-css7:before {
  content: "\e958"; }

.icon-cupcake5:before {
  content: "\e959"; }

.icon-cutlery:before {
  content: "\e95a"; }

.icon-cycle6:before {
  content: "\e95b"; }

.icon-dashboard3:before {
  content: "\e95c"; }

.icon-database34:before {
  content: "\e95d"; }

.icon-delete34:before {
  content: "\e95e"; }

.icon-delete35:before {
  content: "\e95f"; }

.icon-delete36:before {
  content: "\e960"; }

.icon-delete37:before {
  content: "\e961"; }

.icon-delete38:before {
  content: "\e962"; }

.icon-delete39:before {
  content: "\e963"; }

.icon-delicious6:before {
  content: "\e964"; }

.icon-descending2:before {
  content: "\e965"; }

.icon-diamond26:before {
  content: "\e966"; }

.icon-directional9:before {
  content: "\e967"; }

.icon-directions:before {
  content: "\e968"; }

.icon-dna8:before {
  content: "\e969"; }

.icon-document87:before {
  content: "\e96a"; }

.icon-document88:before {
  content: "\e96b"; }

.icon-dont2:before {
  content: "\e96c"; }

.icon-down17:before {
  content: "\e96d"; }

.icon-down18:before {
  content: "\e96e"; }

.icon-down19:before {
  content: "\e96f"; }

.icon-down20:before {
  content: "\e970"; }

.icon-down25:before {
  content: "\e971"; }

.icon-download69:before {
  content: "\e972"; }

.icon-drawers:before {
  content: "\e973"; }

.icon-dribbble7:before {
  content: "\e974"; }

.icon-dropper8:before {
  content: "\e975"; }

.icon-edit27:before {
  content: "\e976"; }

.icon-edit28:before {
  content: "\e977"; }

.icon-eject16:before {
  content: "\e978"; }

.icon-empty22:before {
  content: "\e979"; }

.icon-eps6:before {
  content: "\e97a"; }

.icon-euro32:before {
  content: "\e97b"; }

.icon-exit9:before {
  content: "\e97c"; }

.icon-exit10:before {
  content: "\e97d"; }

.icon-expand17:before {
  content: "\e97e"; }

.icon-expand18:before {
  content: "\e97f"; }

.icon-export5:before {
  content: "\e980"; }

.icon-eye74:before {
  content: "\e981"; }

.icon-facebook32:before {
  content: "\e982"; }

.icon-factory9:before {
  content: "\e983"; }

.icon-favorite9:before {
  content: "\e984"; }

.icon-feather11:before {
  content: "\e985"; }

.icon-female130:before {
  content: "\e986"; }

.icon-fire23:before {
  content: "\e987"; }

.icon-flag33:before {
  content: "\e988"; }

.icon-fonts:before {
  content: "\e989"; }

.icon-forward12:before {
  content: "\e98a"; }

.icon-forward13:before {
  content: "\e98b"; }

.icon-foursquare7:before {
  content: "\e98c"; }

.icon-free1:before {
  content: "\e98d"; }

.icon-full25:before {
  content: "\e98e"; }

.icon-funnel9:before {
  content: "\e98f"; }

.icon-gallery:before {
  content: "\e990"; }

.icon-game21:before {
  content: "\e991"; }

.icon-gif6:before {
  content: "\e992"; }

.icon-gift52:before {
  content: "\e993"; }

.icon-glass18:before {
  content: "\e994"; }

.icon-go9:before {
  content: "\e995"; }

.icon-graduate7:before {
  content: "\e996"; }

.icon-gym8:before {
  content: "\e997"; }

.icon-hand131:before {
  content: "\e998"; }

.icon-hdd2:before {
  content: "\e999"; }

.icon-headphones18:before {
  content: "\e99a"; }

.icon-heart212:before {
  content: "\e99b"; }

.icon-heart213:before {
  content: "\e99c"; }

.icon-horseshoe6:before {
  content: "\e99d"; }

.icon-hot49:before {
  content: "\e99e"; }

.icon-house80:before {
  content: "\e99f"; }

.icon-html12:before {
  content: "\e9a0"; }

.icon-ice45:before {
  content: "\e9a1"; }

.icon-id5:before {
  content: "\e9a2"; }

.icon-idea11:before {
  content: "\e9a3"; }

.icon-illustrator:before {
  content: "\e9a4"; }

.icon-inbox20:before {
  content: "\e9a5"; }

.icon-inbox21:before {
  content: "\e9a6"; }

.icon-incomplete:before {
  content: "\e9a7"; }

.icon-increase3:before {
  content: "\e9a8"; }

.icon-infinite1:before {
  content: "\e9a9"; }

.icon-information41:before {
  content: "\e9aa"; }

.icon-information42:before {
  content: "\e9ab"; }

.icon-instagram6:before {
  content: "\e9ac"; }

.icon-java2:before {
  content: "\e9ad"; }

.icon-join:before {
  content: "\e9ae"; }

.icon-jpg4:before {
  content: "\e9af"; }

.icon-jump5:before {
  content: "\e9b0"; }

.icon-key65:before {
  content: "\e9b1"; }

.icon-keyboard40:before {
  content: "\e9b2"; }

.icon-kilometers:before {
  content: "\e9b3"; }

.icon-lantern15:before {
  content: "\e9b4"; }

.icon-leaf37:before {
  content: "\e9b5"; }

.icon-left42:before {
  content: "\e9b6"; }

.icon-left43:before {
  content: "\e9b7"; }

.icon-left44:before {
  content: "\e9b8"; }

.icon-left45:before {
  content: "\e9b9"; }

.icon-less1:before {
  content: "\e9ba"; }

.icon-life4:before {
  content: "\e9bb"; }

.icon-lifeline6:before {
  content: "\e9bc"; }

.icon-lightbulb16:before {
  content: "\e9bd"; }

.icon-like29:before {
  content: "\e9be"; }

.icon-link24:before {
  content: "\e9bf"; }

.icon-link25:before {
  content: "\e9c0"; }

.icon-linkedin13:before {
  content: "\e9c1"; }

.icon-list37:before {
  content: "\e9c2"; }

.icon-list38:before {
  content: "\e9c3"; }

.icon-list39:before {
  content: "\e9c4"; }

.icon-location31:before {
  content: "\e9c5"; }

.icon-lock29:before {
  content: "\e9c6"; }

.icon-love22:before {
  content: "\e9c7"; }

.icon-love23:before {
  content: "\e9c8"; }

.icon-low23:before {
  content: "\e9c9"; }

.icon-magic10:before {
  content: "\e9ca"; }

.icon-magnet4:before {
  content: "\e9cb"; }

.icon-magnifying41:before {
  content: "\e9cc"; }

.icon-mail62:before {
  content: "\e9cd"; }

.icon-male164:before {
  content: "\e9ce"; }

.icon-map62:before {
  content: "\e9cf"; }

.icon-map63:before {
  content: "\e9d0"; }

.icon-megaphone4:before {
  content: "\e9d1"; }

.icon-menu22:before {
  content: "\e9d2"; }

.icon-menu23:before {
  content: "\e9d3"; }

.icon-microphone53:before {
  content: "\e9d4"; }

.icon-microscope5:before {
  content: "\e9d5"; }

.icon-minus26:before {
  content: "\e9d6"; }

.icon-minus27:before {
  content: "\e9d7"; }

.icon-money42:before {
  content: "\e9d8"; }

.icon-money43:before {
  content: "\e9d9"; }

.icon-money44:before {
  content: "\e9da"; }

.icon-money45:before {
  content: "\e9db"; }

.icon-monitoring3:before {
  content: "\e9dc"; }

.icon-moon22:before {
  content: "\e9dd"; }

.icon-moon23:before {
  content: "\e9de"; }

.icon-mosaic:before {
  content: "\e9df"; }

.icon-mosaic1:before {
  content: "\e9e0"; }

.icon-mouse29:before {
  content: "\e9e1"; }

.icon-mug4:before {
  content: "\e9e2"; }

.icon-musical65:before {
  content: "\e9e3"; }

.icon-musical66:before {
  content: "\e9e4"; }

.icon-mustache6:before {
  content: "\e9e5"; }

.icon-new28:before {
  content: "\e9e6"; }

.icon-next11:before {
  content: "\e9e7"; }

.icon-next12:before {
  content: "\e9e8"; }

.icon-next13:before {
  content: "\e9e9"; }

.icon-no50:before {
  content: "\e9ea"; }

.icon-octocat:before {
  content: "\e9eb"; }

.icon-old38:before {
  content: "\e9ec"; }

.icon-open138:before {
  content: "\e9ed"; }

.icon-outbox2:before {
  content: "\e9ee"; }

.icon-pages5:before {
  content: "\e9ef"; }

.icon-paint52:before {
  content: "\e9f0"; }

.icon-painting32:before {
  content: "\e9f1"; }

.icon-palm10:before {
  content: "\e9f2"; }

.icon-paper89:before {
  content: "\e9f3"; }

.icon-paper90:before {
  content: "\e9f4"; }

.icon-paper91:before {
  content: "\e9f5"; }

.icon-paper92:before {
  content: "\e9f6"; }

.icon-paper93:before {
  content: "\e9f7"; }

.icon-paper94:before {
  content: "\e9f8"; }

.icon-pause19:before {
  content: "\e9f9"; }

.icon-pdf20:before {
  content: "\e9fa"; }

.icon-pen35:before {
  content: "\e9fb"; }

.icon-pencil46:before {
  content: "\e9fc"; }

.icon-phone82:before {
  content: "\e9fd"; }

.icon-php1:before {
  content: "\e9fe"; }

.icon-pi:before {
  content: "\e9ff"; }

.icon-picture14:before {
  content: "\ea00"; }

.icon-picture15:before {
  content: "\ea01"; }

.icon-pie33:before {
  content: "\ea02"; }

.icon-pin29:before {
  content: "\ea03"; }

.icon-pine4:before {
  content: "\ea04"; }

.icon-pinterest15:before {
  content: "\ea05"; }

.icon-pipe2:before {
  content: "\ea06"; }

.icon-plug16:before {
  content: "\ea07"; }

.icon-plus34:before {
  content: "\ea08"; }

.icon-plus35:before {
  content: "\ea09"; }

.icon-png5:before {
  content: "\ea0a"; }

.icon-podium:before {
  content: "\ea0b"; }

.icon-port1:before {
  content: "\ea0c"; }

.icon-pound14:before {
  content: "\ea0d"; }

.icon-power53:before {
  content: "\ea0e"; }

.icon-previous8:before {
  content: "\ea0f"; }

.icon-price4:before {
  content: "\ea10"; }

.icon-private5:before {
  content: "\ea11"; }

.icon-prohibition8:before {
  content: "\ea12"; }

.icon-psd4:before {
  content: "\ea13"; }

.icon-question27:before {
  content: "\ea14"; }

.icon-question28:before {
  content: "\ea15"; }

.icon-question29:before {
  content: "\ea16"; }

.icon-quote3:before {
  content: "\ea17"; }

.icon-radiation3:before {
  content: "\ea18"; }

.icon-radio38:before {
  content: "\ea19"; }

.icon-rain19:before {
  content: "\ea1a"; }

.icon-record4:before {
  content: "\ea1b"; }

.icon-refresh41:before {
  content: "\ea1c"; }

.icon-reload5:before {
  content: "\ea1d"; }

.icon-repeat1:before {
  content: "\ea1e"; }

.icon-rest1:before {
  content: "\ea1f"; }

.icon-revert1:before {
  content: "\ea20"; }

.icon-right41:before {
  content: "\ea21"; }

.icon-right42:before {
  content: "\ea22"; }

.icon-robot7:before {
  content: "\ea23"; }

.icon-rocket21:before {
  content: "\ea24"; }

.icon-rss35:before {
  content: "\ea25"; }

.icon-sad11:before {
  content: "\ea26"; }

.icon-sale6:before {
  content: "\ea27"; }

.icon-sale7:before {
  content: "\ea28"; }

.icon-sand7:before {
  content: "\ea29"; }

.icon-save9:before {
  content: "\ea2a"; }

.icon-scissors18:before {
  content: "\ea2b"; }

.icon-screen21:before {
  content: "\ea2c"; }

.icon-screwdriver17:before {
  content: "\ea2d"; }

.icon-settings23:before {
  content: "\ea2e"; }

.icon-settings24:before {
  content: "\ea2f"; }

.icon-share17:before {
  content: "\ea30"; }

.icon-shopping131:before {
  content: "\ea31"; }

.icon-shopping132:before {
  content: "\ea32"; }

.icon-shuffle11:before {
  content: "\ea33"; }

.icon-signal38:before {
  content: "\ea34"; }

.icon-skype13:before {
  content: "\ea35"; }

.icon-smile4:before {
  content: "\ea36"; }

.icon-snowflakes12:before {
  content: "\ea37"; }

.icon-soccer21:before {
  content: "\ea38"; }

.icon-soda4:before {
  content: "\ea39"; }

.icon-sound22:before {
  content: "\ea3a"; }

.icon-sound23:before {
  content: "\ea3b"; }

.icon-sound24:before {
  content: "\ea3c"; }

.icon-sound25:before {
  content: "\ea3d"; }

.icon-speedometer9:before {
  content: "\ea3e"; }

.icon-squad1:before {
  content: "\ea3f"; }

.icon-square82:before {
  content: "\ea40"; }

.icon-star104:before {
  content: "\ea41"; }

.icon-star105:before {
  content: "\ea42"; }

.icon-star106:before {
  content: "\ea43"; }

.icon-star107:before {
  content: "\ea44"; }

.icon-stereo3:before {
  content: "\ea45"; }

.icon-suitcase31:before {
  content: "\ea46"; }

.icon-sun41:before {
  content: "\ea47"; }

.icon-sun42:before {
  content: "\ea48"; }

.icon-synchronize3:before {
  content: "\ea49"; }

.icon-syringe15:before {
  content: "\ea4a"; }

.icon-tablet56:before {
  content: "\ea4b"; }

.icon-tag35:before {
  content: "\ea4c"; }

.icon-target23:before {
  content: "\ea4d"; }

.icon-telephone85:before {
  content: "\ea4e"; }

.icon-tennis14:before {
  content: "\ea4f"; }

.icon-terminal9:before {
  content: "\ea50"; }

.icon-text74:before {
  content: "\ea51"; }

.icon-thermometer29:before {
  content: "\ea52"; }

.icon-thunder1:before {
  content: "\ea53"; }

.icon-thunder2:before {
  content: "\ea54"; }

.icon-thunderstorm:before {
  content: "\ea55"; }

.icon-ticket9:before {
  content: "\ea56"; }

.icon-time10:before {
  content: "\ea57"; }

.icon-tools7:before {
  content: "\ea58"; }

.icon-trash33:before {
  content: "\ea59"; }

.icon-tray11:before {
  content: "\ea5a"; }

.icon-tree45:before {
  content: "\ea5b"; }

.icon-triangle24:before {
  content: "\ea5c"; }

.icon-trophy8:before {
  content: "\ea5d"; }

.icon-truck23:before {
  content: "\ea5e"; }

.icon-trumpet11:before {
  content: "\ea5f"; }

.icon-tv15:before {
  content: "\ea60"; }

.icon-twitter22:before {
  content: "\ea61"; }

.icon-umbrella21:before {
  content: "\ea62"; }

.icon-undo15:before {
  content: "\ea63"; }

.icon-union:before {
  content: "\ea64"; }

.icon-unlock6:before {
  content: "\ea65"; }

.icon-up31:before {
  content: "\ea66"; }

.icon-up32:before {
  content: "\ea67"; }

.icon-up33:before {
  content: "\ea68"; }

.icon-up34:before {
  content: "\ea69"; }

.icon-up35:before {
  content: "\ea6a"; }

.icon-up36:before {
  content: "\ea6b"; }

.icon-up37:before {
  content: "\ea6c"; }

.icon-upload43:before {
  content: "\ea6d"; }

.icon-upload44:before {
  content: "\ea6e"; }

.icon-usb23:before {
  content: "\ea6f"; }

.icon-user94:before {
  content: "\ea70"; }

.icon-user95:before {
  content: "\ea71"; }

.icon-user96:before {
  content: "\ea72"; }

.icon-user97:before {
  content: "\ea73"; }

.icon-users11:before {
  content: "\ea74"; }

.icon-vector20:before {
  content: "\ea75"; }

.icon-video114:before {
  content: "\ea76"; }

.icon-video115:before {
  content: "\ea77"; }

.icon-video116:before {
  content: "\ea78"; }

.icon-vimeo13:before {
  content: "\ea79"; }

.icon-water34:before {
  content: "\ea7a"; }

.icon-water35:before {
  content: "\ea7b"; }

.icon-webcam2:before {
  content: "\ea7c"; }

.icon-wifi51:before {
  content: "\ea7d"; }

.icon-wifi52:before {
  content: "\ea7e"; }

.icon-window34:before {
  content: "\ea7f"; }

.icon-window35:before {
  content: "\ea80"; }

.icon-windows27:before {
  content: "\ea81"; }

.icon-wine35:before {
  content: "\ea82"; }

.icon-woman56:before {
  content: "\ea83"; }

.icon-world32:before {
  content: "\ea84"; }

.icon-wrench45:before {
  content: "\ea85"; }

.icon-xls3:before {
  content: "\ea86"; }

.icon-yen21:before {
  content: "\ea87"; }

.icon-yin5:before {
  content: "\ea88"; }

.icon-zip9:before {
  content: "\ea89"; }

header {
  background: #e6ede8;
  height: 64px;
  width: 100%;
  border-bottom: solid 1px #aeaeae;
  box-sizing: border-box; }

.header-links {
  overflow: hidden;
  margin: 10px 5px;
  padding: 0;
  float: right; }

.header-links li {
  list-style-type: none;
  display: inline-block; }

.header-links a {
  font-size: 30px;
  display: block;
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
  color: #6e6e6e; }

.ac-container {
  width: 100%;
  margin: 10px auto 10px auto;
  text-align: left; }

.ac-container label {
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  border-bottom: solid 1px #aeaeae;
  margin-bottom: 15px;
  height: 40px; }

.ac-container label:hover {
  background: #fff; }

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  color: #24ac79; }

.ac-container label:after,
.ac-container input:checked + label:after {
  content: '+';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  font-size: 20px; }

.ac-container input:checked + label:after {
  content: '_';
  top: 0; }

.ac-container input {
  display: none; }

.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out; }

.ac-container article p {
  font-style: italic;
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px; }

.ac-container input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out; }

.ac-container input:checked ~ article.ac-small {
  height: 140px; }

.ac-container input:checked ~ article.ac-medium {
  height: 180px; }

.ac-container input:checked ~ article.ac-large {
  height: 230px; }

/* basscss overwrite */
td, th {
  padding: 1rem 1rem; }

/* ----------- */
.columns,
.column-left,
.column-right {
  box-sizing: border-box;
  min-height: 250px; }

.columns {
  overflow: hidden;
  margin-top: 20px; }

.column-left {
  float: left;
  width: 25%;
  padding: 15px;
  border-right: solid 1px #aeaeae; }

.column-right {
  float: left;
  width: 75%;
  padding: 10px; }

.home-icon {
  width: 55px;
  height: 55px;
  margin: 5px;
  float: left; }

.breadcrumb a {
  font-size: 16px; }

.breadcrumb .current a {
  color: #24ac79; }

.breadcrumb li:after {
  content: '/';
  width: 24px;
  height: 24px;
  font-size: 16px;
  padding-left: 8px;
  text-decoration: none; }

.breadcrumb .current:after {
  content: ''; }

.custom-table-wrapper {
  margin: 0 20px 20px 20px;
  border: solid 1px #aeaeae;
  border-radius: 5px; }

.custom-table {
  font-size: 14px; }

.custom-table td {
  border-bottom: solid 1px #aeaeae; }

.custom-table tr:last-child td {
  border-bottom: none; }

.custom-table th {
  background: #f2f6f3; }

.selected {
  background: #96bdae;
  color: #fff; }

.table-tile-toggle-panel {
  float: right;
  position: absolute;
  z-index: 99;
  right: 30px;
  margin: 10px; }

.tile-view-wrapper {
  margin: 0 20px 20px 20px;
  border: solid 1px #aeaeae;
  border-radius: 5px; }

.tile-view {
  display: none; }

.tiles {
  overflow: hidden; }
  .tiles .tile {
    float: left;
    margin: 10px;
    width: 200px;
    height: 250px;
    background: #e6ede8;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box; }
  .tiles .tile:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .tiles .avtar-image {
    margin: 10px auto;
    height: 100px;
    width: 100px;
    border: solid 2px #fff;
    overflow: hidden; }
